@font-face {
    font-family: 'Lora';
    src: url('Lora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font to all elements */
* {
    font-family: 'Lora', sans-serif !important;
}